<%= link_to "New Event", new_event_path %>


<% @events.each do |f| %>

_______________________________________________________
<p>
</p>
<%= link_to "Edit", edit_event_path(f[:id]) %>
<p>
</p>
<%= f.date %>
<p>
</p>
<%= f.location %>
<p>
</p>
<%= f.description %>
<p>
</p>
<%= f.capacity %>
<p>
</p>
<%= f.req_id %>
<p>
</p>
<% end %>
